* {
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

body {
    background: #f5f5f7;
}

[data-bs-theme="dark"] {
    background: #212529;
}

.pointer {
    cursor: pointer;
}

.ml-1 {
    margin-left: .25rem;
}

.ml-2 {
    margin-left: .5rem;
}

.ml-3 {
    margin-left: .75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.sheet {
    background: white;
    padding: .5rem;
}

[data-bs-theme="dark"] .sheet {
    background: #2b3035;
}

.rounded-button {
    background: none;
    border-radius: 40px;
    min-width: 10rem;
    border: solid 1px;
    color: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.rounded-button:hover {
    background-color: rgba(0, 0, 0, .4);
    transition: all .25s;
}

.form-control,
.form-select {
    padding: .75rem;
}

.uppercase {
    text-transform: uppercase;
}

.table-head-fixed {
    max-height: 35rem;
    overflow: auto;
}

.table-head-fixed table {
    border-collapse: collapse;
    width: 100%;
}

.table-head-fixed th,
td {
    padding: 8px;
    min-width: 150px;
}

.table-head-fixed thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #f5f5f7;
}

.table-head-fixed tbody tr:hover {
    cursor: pointer;
    background: #f5f5f7;
}

[data-bs-theme="dark"] .table-head-fixed thead th {
    background: #2b3035;
}

[data-bs-theme="dark"] .table-head-fixed tbody tr:hover {
    cursor: pointer;
    background: #212529;
}